body {
    background-image: url("../../assets/img/bg.jpg");
    background-size: cover;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .reem-kufi {
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .tilt-warp {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  }

  #video {
    display: block;
    text-align: center;
  }
